<a href="https://colab.research.google.com/github/Gileunju/Gileunju/blob/Gileunju-patch-6/Colaboratory%EC%97%90_%EC%98%A4%EC%8B%A0_%EA%B2%83%EC%9D%84_%ED%99%98%EC%98%81%ED%95%A9%EB%8B%88%EB%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
alist = []
sum = 0

for i in range(5):
  i = int(input("정수를 입력하시오:"))
  alist.append(i)

for i in alist:
  sum += i
avg = sum/len(alist)
print("평균=", avg)

정수를 입력하시오:6
정수를 입력하시오:2
정수를 입력하시오:2
정수를 입력하시오:1
정수를 입력하시오:4
평균= 3.0

In [3]:
import random
counters = [0,0,0,0,0,0]

for i in range(1000):
  value = random.randint(0,5)
  counters[value] = counters[value] +1

for i in range(6):
  print ("주사위가 ", i+1, "인 경우는", counters[i], "번")

주사위가  1 인 경우는 188 번
주사위가  2 인 경우는 154 번
주사위가  3 인 경우는 159 번
주사위가  4 인 경우는 165 번
주사위가  5 인 경우는 155 번
주사위가  6 인 경우는 179 번

In [5]:
domains = {"kr": "대한민국", "us": "미국", "jp": "일본", "de": "독일", "sk": "슬로바키아", "hu": "헝가리", "no": "노르웨이" }

for k, v in domains.items():
  print(k, ":", v)

kr : 대한민국
us : 미국
jp : 일본
de : 독일
sk : 슬로바키아
hu : 헝가리
no : 노르웨이